
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y0x07p');
  src:  url('../fonts/icomoon.eot?y0x07p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y0x07p') format('truetype'),
    url('../fonts/icomoon.woff?y0x07p') format('woff'),
    url('../fonts/icomoon.svg?y0x07p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

*,
::before,
::after {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
.burger-button {
	width: 50px;
	height:50px;
	border-radius: 50%;
	background: rgba(0,0,0,.4);
	justify-content: center;
	align-items: center;
	font-size: 20px;
	position: fixed;
	z-index: 1000;
	left: 5px;
	display: none;
	top: 5px;
	color: white;
}
span {
	color: black;
	font-weight: bold;
}
.inicio_header {
	background-image:url("../images/foto5.jpg");

	background-size: cover;
	-moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
	overflow: hidden;
	object-fit: cover;
	height: 840px;
	box-shadow:3px 15px 33px #888888;

}

.inicio_titulo {
	padding: 3rem;
	margin: 0;
	text-decoration: none;
	color: #fff;
	font-size: 4rem;
	font-family: 'Major Mono Display', monospace;
}
.inicio_navegacion {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
}

li,.inicio_menu {
	list-style: none;
	text-decoration: none;
	display:inline;
	background: none;
	font-size: 2rem;
	font-family: 'Major Mono Display', monospace;
	font-weight: bold;
	color: white;
	padding: 15px;
}
.imagen_titular {
	border-radius: 360px;
	width: 300px;
	position: relative;
	filter: drop-shadow(3px 3px 5px #444);
}
.container_titular {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.container-icons {
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.icons{
	position: relative;
	width: 30%;
	align-self: center;


}
.icons_posicion {
	margin-left: 35%;
}

.subtitulo {
	text-align: center;
}


.hero {
	display: flex;
	justify-content: center;
}
.articulo_principal {
	width: 90%;
	margin: -40px;
	padding-bottom: 20px;
	z-index: 999;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: 3px 20px 25px #888888;

}
#aboutme,
#skills,
#cursos-logrados {
	font-size: 4rem;
	font-family: 'Major Mono Display', monospace;
	text-align: center;
}

.descripcion_aboutme {
	font-size: 2rem;
	color: #525252;
	padding: 0 10px;
	border-radius: 10px;
	line-height: 2.5rem;
}
.titulo_skills {
	margin-top: 100px;
}

.inicio_skills {
	width: 90%;
	margin-left: 5%;
	border-radius: 5px;
	background: #fafafa;
	box-shadow: -3px 20px 25px #888888;
}
.images_skills  {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icon-skills {
	width: 10%;
	margin: 5%;
}


.footer-form {
	width: 100%;
	display:flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;

}

.footer_contact {
	background: #1a3340;
	height: 150px;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;

}
.footer_contact p {
	color: #fff;
	font-size: 2em;
}
#contact {
	text-align: center;
	padding-top: 2rem;
	font-size: 2rem;
	color: #03e084;
	font-family: 'Major Mono Display', monospace;
}

.input_nombre {
	font-family: arial;
	font-size: 2rem;
	width: 290px;
	padding: 10px 20px 10px 25px;
	height: 10%;
	color: #000;
	border:  2px solid #fff;
	border-radius: 5px;
	background-image: url("../images/envelope.svg");
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position-y:center;
	background-position-x:5px;
}
::-webkit-input-placeholder {
	color: #000;
}
.button-contact {
	width: 100px;
	height: 30px;
	margin-bottom:  30px;
	background: none;
	margin-top:10px;
	display: block;
	color: #fff;
	font-size: 20px;
	border-color: #fff;
	border-radius: 5px;
}
.container {
	max-width: 1000px;
	flex: 1;
	padding: 2em;
	margin: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
}

.footer {
	background: #1d252c;
	color: #fff;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
footer p {
	font-size: 2rem;
}


.social_link {
	width: 30px;
	height: 30px;
	display: inline-flex;
	background-size: 30px 30px;
	margin: 5% 0;
}

.social_link.instagram {
	background-image: url("../images/instagram.svg");
}

.social_link.twitter {
	background-image: url("../images/twitter.svg");
}
.social_link.github {
		background-image: url("../images/github.svg");
}
.social_link.facebook {
		background-image: url("../images/facebook.svg");
}

@media screen and (max-width: 1024px){
	
}
@media screen and (max-width: 767px){

	.inicio_titulo {
		font-size: 2.8rem;
	}
	.icons {
		width: 50%;
	}
	.imagen_titular {
		width: 50%;
	}

}
@media screen and (max-width: 480px){
	.imagen_titular {
		width: 80%;
	}
	.inicio_titulo {
		font-size: 2rem;
		width: 100%;
	}
	ul {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.subtitulo {
		font-size: 2rem;
	}
	.icons {
		width: 60%;
	}
	.articulo_principal  {
		margin: -20px;
	}
	.descripcion_aboutme {
		font-size: 1.5rem;
	}
	.burger-button {
		display: flex;
	}
	.icon-skill {
		width: 50%;
	}
}
@media screen and (max-width: 320px){
	.inicio_titulo {
		font-size: 1.5rem;
	}
}
