
/*Hoja de estilos de la pagina principal*/
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?y0x07p');
  src:  url('../fonts/icomoon.eot?y0x07p#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y0x07p') format('truetype'),
    url('../fonts/icomoon.woff?y0x07p') format('woff'),
    url('../fonts/icomoon.svg?y0x07p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

*,
::before,
::after {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

.burger-button {
	width: 50px;
	height:50px;
	border-radius: 50%;
	background: rgba(0,0,0,.4);
	justify-content: center;
	align-items: center;
	font-size: 20px;
	position: fixed;
	z-index: 1000;
	left: 5px;
	display: none;
	top: 5px;
	color: white;
	border
}
span {
	color: black;
	font-weight: bold;
}
.inicio_header {
	/*background-image:url("../images/street.jpg");*/
	background-size: cover;
	background: #0f9bf6;
	-moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
	overflow: hidden;
	object-fit: cover;
	position: relative;
	height: 110vh;
	box-shadow:3px 15px 33px #888888;
}

.wave {
	position: absolute;
	background: url("../images/waves.png") center bottom no-repeat;
	width: 2202px;
	height:407px;
	right: -195px;
	animation: 5s wave infinite alternate ease-in-out
}
.wave {
	position: absolute;
	bottom: -100px;
	height:407px;
}
.waves.b{
	animation-delay: 6s;
	background-position: 0 -527px;
}
.wave.c {
	animation-delay: 2s;
	background-position: 0 -854px;
}
.wave.a {
	background-position: 0 0;
}
@keyframes wave{
	from {
		transform: translate(0,0);
	}
	50% {
		transform: translate(-80px, 30px);
	}
	to {
		transform: translate(160px, -60px);
	}
}
.inicio_titulo {
	padding: 3rem;
	margin: 0;
	z-index: 1;
	text-decoration: none;
	color: #fff;
	font-size: 4rem;
	font-family: 'Major Mono Display', monospace;
}
.inicio_navegacion {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 1;
	text-align: center;
	align-items: center;
}

li,.inicio_menu {
	list-style: none;
	text-decoration: none;
	display:inline;
	background: none;
	font-size: 2rem;
	font-family: 'Major Mono Display', monospace;
	font-weight: bold;
	color: white;
	padding: 15px;
	-moz-transition-duration: .5s;
	-webkit-transition-duration: .3s;
}

.inicio_menu:hover {
	font-size: 2.05rem;
	color: rgba(255, 255, 255, 0.6);
}

.imagen_titular {
	animation:3.5s imagenTransparencia ease-in-out;

	border-radius: 50%;
	width: 300px;
	position: relative;
	filter: drop-shadow(3px 3px 5px #444);
}

@keyframes imagenTransparencia {
	from,50% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
.container_titular {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.container-icons {
	display: flex;
	justify-content: center;
	align-items: stretch;
	animation-name: imagenTransparencia;

}
.icons{
	animation-duration: 3s;
	position: relative;
	width: 30%;
	align-self: center;
	transition: .5s;
	z-index: 10;
}

.icons:hover {
	animation: 1s giroIcon 1;
	animation-timing-function: linear;
}
.icons_posicion {
	margin-left: 35%;
}

.subtitulo {
	text-align: center;
}
@keyframes giroIcon {
	from {
		transform: rotate(-25deg) scale(1);
	}
	30% {
		transform: rotate(25deg) scale(1.2);
	}
	50% {
		transform: rotate(-20deg) scale(1.3);
	}
	80% {
		transform: rotate(20deg) scale(1.2);
	}
	90% {
		transform: rotate(-10deg) scale(1.1);
	}
	to {
		transform: rotate(10deg) scale(1);

	}
}

.hero {
	display: flex;
	justify-content: center;
}
.articulo_principal {
	width: 90%;
	margin: -40px;
	padding-bottom: 20px;
	z-index: 2;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: 3px 20px 25px #888888;

}
#aboutme,
#skills,
#cursos-logrados {
	font-size: 4rem;
	font-family: 'Major Mono Display', monospace;
	text-align: center;
}

.descripcion_aboutme {
	font-size: 2rem;
	color: #525252;
	padding: 0 10px;
	border-radius: 10px;
	line-height: 2.5rem;
}
.titulo_skills {
	margin-top: 100px;
}

.inicio_skills {
	width: 90%;
	margin-left: 5%;
	border-radius: 5px;
	background: #fafafa;
	box-shadow: -3px 20px 25px #888888;
}
.images_skills  {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icon-skills {
	width: 10%;
	margin: 5%;
}


.footer-form {
	width: 100%;
	display:flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;

}

.footer_contact {
	background: #1a3340;
	height: 180px;
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;

}
.footer_contact p {
	color: #fff;
	font-size: 2em;
}
#contact {
	text-align: center;
	padding-top: 2rem;
	font-size: 2rem;
	color: #03e084;
	font-family: 'Major Mono Display', monospace;
}

.input_nombre {
	font-family: arial;
	font-size: 2rem;
	width: 290px;
	padding: 10px 20px 10px 25px;
	height: 10%;
	color: #000;
	border:  2px solid #fff;
	border-radius: 5px;
	background-image: url("../images/envelope.svg");
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position-y:center;
	background-position-x:5px;
	outline: 0;
}
::-webkit-input-placeholder {
	color: #000;
}

.button-contact {
	width: 100px;
	height: 30px;
	text-align: center;
	margin:10px auto;
	font-size: 2em;
	background: #7dc800;
	color: white;
	border-radius: 5px;
	border: none;
	outline: 0;
	cursor: pointer;
	transition: .2s;
	padding-bottom: 10px;
	will-change: transform;
	box-shadow: 0 -.2em  rgba(0,0,0, .2) inset;
}
.button-contact:active {
	background: #7dc800;
	transform: scale(.9);
}
.container {
	max-width: 1000px;
	flex: 1;
	padding: 2em;
	margin: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	height: inherit;
	flex-wrap: inherit;
}

.footer {
	background: #1d252c;
	color: #fff;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
footer p {
	font-size: 2rem;
}


.social_link {
	width: 30px;
	height: 30px;
	display: inline-flex;
	background-size: 30px 30px;
	margin: 5% 0;
}

.social_link.instagram {
	background-image: url("../images/instagram.svg");
}

.social_link.twitter {
	background-image: url("../images/twitter.svg");
}
.social_link.github {
		background-image: url("../images/github.svg");
}
.social_link.facebook {
		background-image: url("../images/facebook.svg");
}

@media screen and (max-width: 1024px){

}
@media screen and (max-width: 767px){

	.inicio_titulo {
		font-size: 2.8rem;
	}
	.icons {
		width: 50%;
	}
	.imagen_titular {
		width: 50%;
	}

}
@media screen and (max-width: 480px){
	.inicio_navegacion {
		background: rgba(0,0,0,.8);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 999;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		transition: 1.1s ease-in;
	}
	.inicio_navegacion.active{
			opacity: 1;
			visibility: visible;
	}
	.imagen_titular {
		width: 80%;
	}
	.inicio_titulo {
		font-size: 2rem;
		width: 100%;
	}
	ul {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	.subtitulo {
		font-size: 2rem;
	}
	.icons {
		width: 60%;
	}
	.articulo_principal  {
		margin: -20px;
	}
	.descripcion_aboutme {
		font-size: 1.5rem;
	}
	.burger-button {
		display: flex;
	}
	.icon-skill {
		width: 50%;
	}
}
@media screen and (max-width: 320px){
	.inicio_titulo {
		font-size: 1.5rem;
	}
}
